<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Flight Sim Status </title>
</head>
<body>
    <div class="rectangle">
        <div id="date">{{ date }}</div>
        <div id="clock">{{ heure }}</div>
        <div id="weather">{{weather.ville}}</div>
        <div id="temperature">{{weather.temp}}°C</div>
        <div id="vent">{{weather.vent}}km/h</div>
    </div>



<script src="{{ url_for('static', filename='js/clock.js') }}"></script>


</body>
</html>

